data/gvtdata.dtd

<?xml encoding="UTF-8"?>

<!--
Copyright (C) 2010 IBM Corporation. All Rights Reserved.
Note that gvt.rnc is the source for this file, do not edit the .dtd or .xsd directly.
-->

<!ELEMENT gvt (testdata)*>

<!ELEMENT testdata (GVTGuide,Hex,image?)>
<!ATTLIST testdata
  id CDATA #REQUIRED
  status (current|obsolete) #REQUIRED>

<!ELEMENT GVTGuide (#PCDATA)>
<!ATTLIST GVTGuide
  type (TestArea|Appendix) #REQUIRED>

<!ELEMENT image EMPTY>
<!ATTLIST image
  type CDATA #IMPLIED
  url CDATA #REQUIRED>

<!ELEMENT Hex (#PCDATA)>
<!ATTLIST Hex
  content-type CDATA #IMPLIED>
